@font-face {
  font-family: "Norse";
  src: url("./font/Norse-Bold.otf");
}

:root {
  --green: #596d48;
  --lightBorder: #e5e7eb;
  --leftPadding: 2rem;
  --verticalPadding: 2rem;
  --inputPadding: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  display: flex;
}

.left-section {
  display: flex;
  justify-content: flex-end;
  background-image: url("./public/unsplash.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 51%;
  position: relative;
}

.left-section > div {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Norse";
  font-size: 5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 66.6%;
  width: 100%;
}

.right-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: rgb(247, 247, 247);
}

header {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
  padding-bottom: 4rem;
  width: 80%;
  font-size: 2rem;
  padding-left: var(--leftPadding);
}

form {
  grid-area: 3 / 1 / 5 / 2;
  background-color: white;
  padding-left: var(--leftPadding);
  padding-top: var(--verticalPadding);
  box-shadow: 10px 5px 5px var(--lightBorder);
}

legend {
  font-size: 1.5rem;
  padding-bottom: var(--verticalPadding);
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
  gap: 2rem;
  border: none;
}

fieldset > div {
  display: flex;
  flex-direction: column;
  width: 45%;
  letter-spacing: 0.5rem;
  font-weight: bold;
}

label {
  color: var(--green);
}

img[src*="odin"] {
  height: 150px;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
}

input {
  border: 1px solid var(--lightBorder);
  height: 1.5rem;
  padding-left: var(--inputPadding);
}

:focus {
  border-color: blue;
  box-shadow: 4px 2px 2px var(--lightBorder);
}

:invalid {
  border-color: red;
}

footer {
  grid-area: 5 / 1 / 7 / 2;
  padding-left: var(--leftPadding);
  padding-top: var(--verticalPadding);
}

button[type="submit"] {
  color: white;
  border: 1px solid var(--green);
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.8rem 2.6rem;
  background-color: var(--green);
  margin-bottom: var(--verticalPadding);
  box-shadow: 5px 5px 5px var(--lightBorder);
}

a {
  color: var(--green);
  font-weight: bold;
}

a:hover,
button:hover {
  cursor: pointer;
}
